@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 46 67% 95%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 47 87% 66%;
    --primary-foreground: 47 87% 10%;
    --secondary: 46 20% 90%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 46 20% 90%;
    --muted-foreground: 24 9.8% 40%;
    --accent: 30 100% 64%;
    --accent-foreground: 30 100% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 46 20% 80%;
    --input: 46 20% 80%;
    --ring: 47 87% 66%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 98%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 0 0% 98%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 0 0% 98%;
    --primary: 47 87% 66%;
    --primary-foreground: 47 87% 10%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 0 0% 98%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 30 100% 64%;
    --accent-foreground: 30 100% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 47 87% 66%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
